<style>
	.marketplace_container .column:nth-of-type(4n+1) {
  	margin-left: 0 !important;
	}
</style>

<!-- <div>market place</div>

<div class="container">
  <div class="row" ng-repeat="item in marketCtrl.dummyList">
    <div class="col">
      {{item.title}}
      {{item.owner}}
      <img style= "width: 100px;"src={{item.image}}/>
      {{item.description}}
      {{item.startTime}}
    </div>
  </div>
</div> -->
<!-- <button class="btn btn-primary" style="margin:50px; float:right;" ng-click="marketCtrl.createAuction()">Create item</button> -->
<div class='marketplace_container'>
	<div class='row small-up-2 large-up-4'>
		<div class='column' style="width:23.5%; margin-left:2%" ng-repeat="item in marketCtrl.dummyList">
			<img src={{item.image}}>
			<h5><span style="font-weight:bold;"></span> {{item.title}}</h5>
			<h5><span style="font-weight:bold;">Seller:</span> {{item.owner}}</h5>
			<p><span style="font-weight:bold;">Starts:</span>  {{item.startTime}}</p>
			<p><span style="font-weight:bold;">Product Description:</span></br>{{item.description}}</p>
			<a href="/#/auction" class="button primary expanded" style='border-radius: 5px;'>View Auction</a>			
		</div>
<!-- 		<div class='column'>
			<img class="thumbnail" src="https://placehold.it/300x400">
			<h5>Item One</h5>
			<p>$400</p>
			<a href="#" class="button expanded" style='border-radius: 10px;'>Buy</a>			
		</div>
		<div class='column'>
			<img class="thumbnail" src="https://placehold.it/300x400">
			<h5>Item One</h5>
			<p>$400</p>
			<a href="#" class="button expanded" style='border-radius: 10px;'>Buy</a>			
		</div>
		<div class='column'>
			<img class="thumbnail" src="https://placehold.it/300x400">
			<h5>Item One</h5>
			<p>$400</p>
			<a href="#" class="button expanded" style='border-radius: 10px;'>Buy</a>			
		</div>
		<div class='column'>
			<img class="thumbnail" src="https://placehold.it/300x400">
			<h5>Item One</h5>
			<p>$400</p>
			<a href="#" class="button expanded" style='border-radius: 10px;'>Buy</a>			
		</div>
		<div class='column'>
			<img class="thumbnail" src="https://placehold.it/300x400">
			<h5>Item One</h5>
			<p>$400</p>
			<a href="#" class="button expanded" style='border-radius: 10px;'>Buy</a>			
		</div>
		<div class='column'>
			<img class="thumbnail" src="https://placehold.it/300x400">
			<h5>Item One</h5>
			<p>$400</p>
			<a href="#" class="button expanded" style='border-radius: 10px;'>Buy</a>			
		</div>
		<div class='column'>
			<img class="thumbnail" src="https://placehold.it/300x400">
			<h5>Item One</h5>
			<p>$400</p>
			<a href="#" class="button expanded" style='border-radius: 10px;'>Buy</a>			
		</div> -->
	</div>
</div>


