<div class="row">
  <form action="#" method="post" id="create-auction">
    <fieldset>
      <div class="row">
      	<div class="medium-4 columns">
      		<iframe src="" width="600px;" height="500px;"></iframe>
      		<p>Here is the description</p>
      	</div>
      	<div class="medium-4 columns">
      	</div>
        <div class="medium-4 columns">
          <button type="button" class="button primary medium" ng-click="marketCtrl.postAuction(marketCtrl.auctionTitle, marketCtrl.auctionDescription, marketCtrl.image, marketCtrl.auctionStartDate, marketCtrl.auctionStartTime, marketCtrl.auctionLength, marketCtrl.startBid, marketCtrl.minBid)">Place Bid</button>
          <input type="text" style="width:20%" id="min-bid" name="min-bid" ng-model="bidCtrl.setBid" ng-click="bidCtrl.postBid(bidCtrl.setBid)"/>
          <button type="button" class="button secondary medium">Cancel</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>