<div class="row">
  <form action="#" method="post" id="create-auction">
    <fieldset>
      <div class="row">
      	<div class="medium-10 columns">
      		<iframe width="950" height="500" scrolling="yes" src="https://meetstage-us.liveh2h.com/launcher.html?p=JTdCJTIydXNlcl9pZCUyMiUzQSUyMkJ2THd2SHhRVHpGVmdrY1JES1N4b2VxdzJlS0wlMjIlMkMlMjJtZWV0aW5nX2lkJTIyJTNBJTIyNDI2MDE5NTM2JTIyJTJDJTIyb3JpZ2luJTIyJTNBJTIyVE1JJTIyJTJDJTIydXNlcl9kaXNwbGF5X25hbWUlMjIlM0ElMjJFcmljK0VuZyUyMiU3RA==&b=true"></iframe>
      		<p>This timepiece features a gold leather band that is sure to catch anyones attention and a 47MM stainless steel case that brings it together.</p>
      	</div>
<!--       	<div class="medium-4 columns">
      	</div> -->
        <div class="medium-2 columns">
        	 </br></br></br></br></br>
          <div><span style="font-weight:bold;">Current Bid:</span> ${{bidCtrl.maxBid}}</div></br>
          <input type="text" placeholder="Place your bid here" style="width:50%" id="min-bid" name="min-bid" ng-model="bidCtrl.setBid" ng-click="bidCtrl.postBid(bidCtrl.setBid)"/>
          <button type="button" class="button primary medium" ng-click="marketCtrl.postAuction(marketCtrl.auctionTitle, marketCtrl.auctionDescription, marketCtrl.image, marketCtrl.auctionStartDate, marketCtrl.auctionStartTime, marketCtrl.auctionLength, marketCtrl.startBid, marketCtrl.minBid)">Place Bid</button>
          <button type="button" class="button secondary medium">Cancel</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>